<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/Theme.AppCompat">

        <!-- Declare individual activities separately -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AuthorActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".BookCopyActivity" />
        <activity android:name=".BookLoanActivity" />
        <activity android:name=".BranchActivity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".PublisherActivity" />
        <activity android:name=".ViewBook"/>
        <activity android:name=".Book"
            tools:ignore="Instantiatable" />




        <!-- If ViewBook activity is in a different package, specify full path -->
        <!-- <activity android:name="com.example.myapp.ViewBook" /> -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
